{% load static %}
<!doctype html>
<html lang="en">
<body>
<div style="width:35rem;margin-left:auto;margin-right:auto">
    <div class="adM">
    </div>
    <div style="border:none;border-bottom:solid 1px #d0d0d0;text-align:center">
        <div class="adM">
        </div>
        <img src="https://{{ server }}/static/images/logo.png"
             style="margin-bottom:1rem;text-align:center;width:5rem;margin-left:auto;margin-right:auto" class="CToWUd"
             data-bit="iit">
    </div>
    <div>

            <h1>Welcome to Kayili M Group LLC</h1>
            <p>You have been successfully verified on our website</p>
    </div>

    <div style="margin-top:3rem">
        <div style="color:#636363;text-align:center">
            Back to website: <a href="{{ website }}">Kayili M Group LLC</a><br>
            All rights reserved
        </div>
        <div class="yj6qo"></div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
</div>
</body>
</html>