{% load static %}
<!doctype html>
<html lang="en">
<body>
<div style="width:35rem;margin-left:auto;margin-right:auto">
    <div style="border:none;border-bottom:solid 1px #d0d0d0;text-align:center">
        <img src="https://{{ server }}/static/images/logo.png"
             style="margin-bottom:1rem;text-align:center;width:5rem;margin-left:auto;margin-right:auto">
    </div>

    <div>
        <h1>Welcome to Kayili M Group LLC</h1>
        <p>You have been successfully verified on our website.</p>
    </div>

    <div style="margin-top:3rem; text-align:center; color:#636363">
        Back to website: <a href="{{ website }}">Kayili M Group LLC</a><br>
        All rights reserved.
    </div>

    <!-- Gmail qisqartirmasligi uchun bo‘sh joy qo‘shildi -->
    <div style="margin-bottom: 50px;"></div>
</div>
</body>
</html>
